# ==============================================================================
# MINDSPACE FRONTEND ENVIRONMENT CONFIGURATION (TEMPLATE)
# ==============================================================================

# LOCAL DEVELOPMENT:
VITE_API_URL=vite-api-url 
VITE_BACKEND_TARGET=backend-port

# PRODUCTION:
# VITE_API_URL=
# VITE_BACKEND_TARGET=
